html{
    box-sizing: content-box;
}



.pig {
   /* width: 100%; */
}

div{

}

.flex-form > *:last-child
{
    border-right: 0;
}

.flex-form >* {
    border: 0;
    padding: 10px;
    background: white;
    line-height: 50px;
    font-size: 20;
    outline: 0;
    border-radius: 0 ;
    border-right: 1px solid rgba(0,0,0,6);
    border-left: 1px solid rgba(0,0,0,2);
    border-top: 1px solid rgba(0,0,0,2);
    border-bottom: 1px solid rgba(0,0,0,2);
    -webkit-nbsp-mode: none;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-form {
    display: flex;
    border: 20px solid rgba(0, 0, 0,0, 3);
    border-radius: 5px;
}

input[type="search"]
{
    flex-basis: 500px;
}