

/* flex contanier */
.pricing-grid {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    align-self: center;
    /* border: 3.5px solid red; */

}
   
.plan {
    background: rgba(225,225,225,0.2);
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;

    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.plan > * {
    flex: 1 1 100%;
}

.plan .cta 
{
    align-self: flex-end;
}